<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="moman.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.deuce.moman.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Moman Perspective"
            class="net.deuce.moman.ui.PerspectiveFactory"
            id="moman.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
               id="moman.category"
               name="Moman">
         </category>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.account.ui.AccountView"
               id="net.deuce.moman.account.ui.AccountView"
               name="Accounts"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.envelope.ui.EnvelopeView"
               id="net.deuce.moman.envelope.ui.EnvelopeView"
               name="Envelopes"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.envelope.ui.EnvelopeSpendingView"
               id="net.deuce.moman.envelope.ui.EnvelopeSpendingView"
               name="Envelope Spending"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.envelope.ui.BillView"
               id="net.deuce.moman.envelope.ui.BillView"
               name="Bills"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.envelope.ui.BudgetView"
               id="net.deuce.moman.envelope.ui.BudgetView"
               name="Budget"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.envelope.ui.SavingsGoalsView"
               id="net.deuce.moman.envelope.ui.SavingsGoalsView"
               name="Saving Goals"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.transaction.ui.RegisterView"
               id="net.deuce.moman.transaction.ui.RegisterView"
               name="Register"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.transaction.ui.TransferView"
               id="net.deuce.moman.transaction.ui.TransferView"
               name="Envelope Transfers"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.transaction.ui.RepeatingTransactionView"
               id="net.deuce.moman.transaction.ui.RepeatingTransactionView"
               name="Repeating Transactions"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.transaction.ui.TransactionImportView"
               id="net.deuce.moman.transaction.ui.TransactionImportView"
               name="Import"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               
               category="moman.category"
               class="net.deuce.moman.rule.ui.TransactionRuleView"
               id="net.deuce.moman.rule.ui.TransactionRuleView"
               name="Import Rules"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.income.ui.IncomeView"
               id="net.deuce.moman.income.ui.IncomeView"
               name="Pay Source"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.allocation.ui.AllocationView"
               id="net.deuce.moman.allocation.ui.AllocationView"
               name="Allocation Profiles"
               restorable="true">
         </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.deuce.moman.command.file.new"
            name="New File">
      </command>
      <command
            id="net.deuce.moman.command.file.open"
            name="Open File">
      </command>
      <command
            id="net.deuce.moman.command.file.save"
            name="Save File">
      </command>
      <command
            id="net.deuce.moman.command.file.saveAs"
            name="Save File As">
      </command>
      <command
            id="net.deuce.moman.command.edit.undo"
            name="Undo">
      </command>
      <command
            id="net.deuce.moman.command.edit.redo"
            name="Redo">
      </command>
      <command
            id="net.deuce.moman.account.command.importFile"
            name="Import">
      </command>
      <command
            id="net.deuce.moman.account.command.exportFile"
            name="Export">
      </command>
      <command
            id="net.deuce.moman.account.command.new"
            name="New Account">
      </command>
      <command
            id="net.deuce.moman.account.command.newDisconnected"
            name="New Cash/Offline Account">
      </command>
      <command
            id="net.deuce.moman.account.command.edit"
            name="Edit Account">
      </command>
      <command
            id="net.deuce.moman.account.command.delete"
            name="Delete Account">
      </command>
      <command
            id="net.deuce.moman.account.command.import"
            name="Download Transactions">
      </command>
      <command
            id="net.deuce.moman.account.command.fullImport"
            name="Download Full Transactions">
      </command>
      <command
            id="net.deuce.moman.account.command.importError"
            name="Import Error">
      </command>
      <command
            id="net.deuce.moman.income.command.new"
            name="New Pay Source">
      </command>
      <command
            id="net.deuce.moman.income.command.delete"
            name="Delete Pay Source">
      </command>
      <command
            id="net.deuce.moman.envelope.command.new"
            name="New Envelope">
      </command>
      <command
            id="net.deuce.moman.envelope.command.newBill"
            name="New Bill">
      </command>
      <command
            id="net.deuce.moman.envelope.command.newSavingsGoal"
            name="New Saving Goal">
      </command>
      <command
            id="net.deuce.moman.envelope.command.deleteSavingsGoal"
            name="Delete Saving Goal">
      </command>
      <command
            id="net.deuce.moman.envelope.command.edit"
            name="Edit Envelope">
      </command>
      <command
            id="net.deuce.moman.envelope.command.delete"
            name="Delete Envelope">
      </command>
      <command
            id="net.deuce.moman.envelope.command.deleteBill"
            name="Delete Bill">
      </command>
      <command
            id="net.deuce.moman.allocation.command.new"
            name="New Allocation">
      </command>
      <command
            id="net.deuce.moman.allocation.command.delete"
            name="Delete Allocation">
      </command>
      <command
            id="net.deuce.moman.allocation.command.newSet"
            name="New Allocation Profile">
      </command>
      <command
            id="net.deuce.moman.allocation.command.deleteSet"
            name="Delete Allocation Profile">
      </command>
      <command
            id="net.deuce.moman.transaction.command.new"
            name="New Transaction">
      </command>
      <command
            id="net.deuce.moman.transaction.command.edit"
            name="Edit Transaction">
      </command>
      <command
            id="net.deuce.moman.transaction.command.delete"
            name="Delete Transaction">
      </command>
      <command
            id="net.deuce.moman.transaction.command.find"
            name="Find Transaction">
      </command>
      <command
            id="net.deuce.moman.transaction.command.newRepeating"
            name="New Transaction">
      </command>
      <command
            id="net.deuce.moman.transaction.command.deleteRepeating"
            name="New Transaction">
      </command>
      <command
            id="net.deuce.moman.rule.command.new"
            name="New Transaction Rule">
      </command>
      <command
            id="net.deuce.moman.rule.command.delete"
            name="Delete Transaction Rule">
      </command>
      <command
            id="net.deuce.moman.command.import.delete"
            name="Delete Imported Transaction">
      </command>
      <command
            id="net.deuce.moman.command.navigate.account"
            name="Account View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.bill"
            name="Bill View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.envelope"
            category="org.eclipse.ui.category.window"
            name="Envelope View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.importRule"
            name="Import Rule View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.transfer"
            name="Envelope Transfer View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.allocation"
            name="Allocation View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.budget"
            name="Budget View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.repeatingTransaction"
            name="Import Rule View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.import"
            name="Import Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.paySource"
            name="Pay Source View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.register"
            name="Register View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.navigate.savingsGoals"
            name="Saving Goals View Navigation">
      </command>
      <command
            id="net.deuce.moman.command.file.openRecent"
            name="Open Recent">
         <commandParameter
               id="net.deuce.moman.command.file.openRecent.fileParam"
               name="file"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="net.deuce.moman.envelope.command.transfer"
            name="Envelope Transfer">
         <commandParameter
               id="net.deuce.moman.envelope.command.transfer.accountId"
               name="accountId"
               optional="true">
         </commandParameter>
         <commandParameter
               id="net.deuce.moman.envelope.command.transfer.sourceId"
               name="sourceId"
               optional="true">
         </commandParameter>
         <commandParameter
               id="net.deuce.moman.envelope.command.transfer.targetId"
               name="targetId"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.deuce.moman.command.file.new"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+N">
      </key>
      <key
            commandId="net.deuce.moman.command.file.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+O">
      </key>
      <key
            commandId="net.deuce.moman.command.file.save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+S">
      </key>
      <key
            commandId="net.deuce.moman.command.file.saveAs"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="SHIFT+COMMAND+S">
      </key>
      <key
            commandId="net.deuce.moman.command.edit.undo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+Z">
      </key>
      <key
            commandId="net.deuce.moman.command.edit.redo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+Y">
      </key>
      <key
            commandId="net.deuce.moman.account.command.new"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="CTRL+A">
      </key>
      <key
            commandId="net.deuce.moman.account.command.newDisconnected"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="SHIFT+CTRL+A">
      </key>
      <key
            commandId="net.deuce.moman.account.command.import"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+D">
      </key>
      <key
            commandId="net.deuce.moman.account.command.fullImport"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="SHIFT+COMMAND+D">
      </key>
      <key
            commandId="net.deuce.moman.account.command.importFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="SHIFT+COMMAND+O">
      </key>
      <key
            commandId="net.deuce.moman.income.command.new"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="CTRL+P">
      </key>
      <key
            commandId="net.deuce.moman.allocation.command.newSet"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="SHIFT+CTRL+P">
      </key>
      <key
            commandId="net.deuce.moman.allocation.command.new"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="CTRL+COMMAND+A">
      </key>
      <key
            commandId="net.deuce.moman.envelope.command.new"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+E">
      </key>
      <key
            commandId="net.deuce.moman.envelope.command.transfer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="SHIFT+COMMAND+T">
      </key>
      <key
            commandId="net.deuce.moman.envelope.command.newBill"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+B">
      </key>
      <key
            commandId="net.deuce.moman.envelope.command.newSavingsGoal"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+G">
      </key>
      <key
            commandId="net.deuce.moman.transaction.command.new"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+T">
      </key>
      <key
            commandId="net.deuce.moman.transaction.command.newRepeating"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="SHIFT+COMMAND+R">
      </key>
      <key
            commandId="net.deuce.moman.transaction.command.newRule"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+R">
      </key>
      <key
            commandId="net.deuce.moman.transaction.command.find"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+F">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.envelope"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+1">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.paySource"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+2">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.bill"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+3">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.allocation"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+4">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.savingsGoals"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+5">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.budget"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+6">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.register"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="ALT+1">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.import"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="ALT+2">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.importRule"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="ALT+3">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.transfer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="ALT+4">
      </key>
      <key
            commandId="net.deuce.moman.command.navigate.repeatingTransaction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="ALT+5">
      </key>
      <key
            commandId="org.eclipse.ui.window.preferences"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.deuce.moman.scheme.main"
            sequence="COMMAND+,">
      </key>
      <scheme
            id="net.deuce.moman.scheme.main"
            name="moman scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.deuce.moman.command.file.New"
            commandId="net.deuce.moman.command.file.new">
      </handler>
      <handler
            class="net.deuce.moman.command.file.Save"
            commandId="net.deuce.moman.command.file.save">
      </handler>
      <handler
            class="net.deuce.moman.command.file.SaveAs"
            commandId="net.deuce.moman.command.file.saveAs">
      </handler>
      <handler
            class="net.deuce.moman.command.file.Open"
            commandId="net.deuce.moman.command.file.open">
      </handler>
      <handler
            class="net.deuce.moman.command.edit.Undo"
            commandId="net.deuce.moman.command.edit.undo">
      </handler>
      <handler
            class="net.deuce.moman.command.edit.Redo"
            commandId="net.deuce.moman.command.edit.redo">
      </handler>
      <handler
            class="net.deuce.moman.account.command.ImportFile"
            commandId="net.deuce.moman.account.command.importFile">
      </handler>
      <handler
            class="net.deuce.moman.account.command.ExportFile"
            commandId="net.deuce.moman.account.command.exportFile">
      </handler>
      <handler
            class="net.deuce.moman.account.command.New"
            commandId="net.deuce.moman.account.command.new">
      </handler>
      <handler
            class="net.deuce.moman.account.command.NewDisconnected"
            commandId="net.deuce.moman.account.command.newDisconnected">
      </handler>
      <handler
            class="net.deuce.moman.account.command.Edit"
            commandId="net.deuce.moman.account.command.edit">
      </handler>
      <handler
            class="net.deuce.moman.account.command.Delete"
            commandId="net.deuce.moman.account.command.delete">
      </handler>
      <handler
            class="net.deuce.moman.account.command.Import"
            commandId="net.deuce.moman.account.command.import">
      </handler>
      <handler
            class="net.deuce.moman.account.command.FullImport"
            commandId="net.deuce.moman.account.command.fullImport">
      </handler>
      <handler
            class="net.deuce.moman.account.command.ImportError"
            commandId="net.deuce.moman.account.command.importError">
      </handler>
      <handler
            class="net.deuce.moman.allocation.command.New"
            commandId="net.deuce.moman.allocation.command.new">
      </handler>
      <handler
            class="net.deuce.moman.allocation.command.Delete"
            commandId="net.deuce.moman.allocation.command.delete">
      </handler>
      <handler
            class="net.deuce.moman.allocation.command.NewSet"
            commandId="net.deuce.moman.allocation.command.newSet">
      </handler>
      <handler
            class="net.deuce.moman.allocation.command.DeleteSet"
            commandId="net.deuce.moman.allocation.command.deleteSet">
      </handler>
      <handler
            class="net.deuce.moman.income.command.New"
            commandId="net.deuce.moman.income.command.new">
      </handler>
      <handler
            class="net.deuce.moman.income.command.Delete"
            commandId="net.deuce.moman.income.command.delete">
      </handler>
      <handler
            class="net.deuce.moman.envelope.command.New"
            commandId="net.deuce.moman.envelope.command.new">
      </handler>
      <handler
            class="net.deuce.moman.envelope.command.NewBill"
            commandId="net.deuce.moman.envelope.command.newBill">
      </handler>
      <handler
            class="net.deuce.moman.envelope.command.NewSavingsGoal"
            commandId="net.deuce.moman.envelope.command.newSavingsGoal">
      </handler>
      <handler
            class="net.deuce.moman.envelope.command.DeleteSavingsGoal"
            commandId="net.deuce.moman.envelope.command.deleteSavingsGoal">
      </handler>
      <handler
            class="net.deuce.moman.envelope.command.Edit"
            commandId="net.deuce.moman.envelope.command.edit">
      </handler>
      <handler
            class="net.deuce.moman.envelope.command.Delete"
            commandId="net.deuce.moman.envelope.command.delete">
      </handler>
      <handler
            class="net.deuce.moman.envelope.command.DeleteBill"
            commandId="net.deuce.moman.envelope.command.deleteBill">
      </handler>
      <handler
            class="net.deuce.moman.transaction.command.New"
            commandId="net.deuce.moman.transaction.command.new">
      </handler>
      <handler
            class="net.deuce.moman.transaction.command.Edit"
            commandId="net.deuce.moman.transaction.command.edit">
      </handler>
      <handler
            class="net.deuce.moman.transaction.command.Delete"
            commandId="net.deuce.moman.transaction.command.delete">
      </handler>
      <handler
            class="net.deuce.moman.transaction.command.Find"
            commandId="net.deuce.moman.transaction.command.find">
      </handler>
      <handler
            class="net.deuce.moman.transaction.command.NewRepeating"
            commandId="net.deuce.moman.transaction.command.newRepeating">
      </handler>
      <handler
            class="net.deuce.moman.transaction.command.DeleteRepeating"
            commandId="net.deuce.moman.transaction.command.deleteRepeating">
      </handler>
      <handler
            class="net.deuce.moman.rule.command.New"
            commandId="net.deuce.moman.rule.command.new">
      </handler>
      <handler
            class="net.deuce.moman.rule.command.Delete"
            commandId="net.deuce.moman.rule.command.delete">
      </handler>
      <handler
            class="net.deuce.moman.command.importer.Edit"
            commandId="net.deuce.moman.command.import.edit">
      </handler>
      <handler
            class="net.deuce.moman.command.importer.Delete"
            commandId="net.deuce.moman.command.import.delete">
      </handler>
      <handler
            class="net.deuce.moman.command.file.OpenRecent"
            commandId="net.deuce.moman.command.file.openRecent">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateAccountView"
            commandId="net.deuce.moman.command.navigate.account">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateBillView"
            commandId="net.deuce.moman.command.navigate.bill">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateEnvelopeView"
            commandId="net.deuce.moman.command.navigate.envelope">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateImportRuleView"
            commandId="net.deuce.moman.command.navigate.importRule">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateTransferView"
            commandId="net.deuce.moman.command.navigate.transfer">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateAllocationView"
            commandId="net.deuce.moman.command.navigate.allocation">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateBudgetView"
            commandId="net.deuce.moman.command.navigate.budget">
            
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateRepeatingTransactionView"
            commandId="net.deuce.moman.command.navigate.repeatingTransaction">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateImportView"
            commandId="net.deuce.moman.command.navigate.import">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivatePaySourceView"
            commandId="net.deuce.moman.command.navigate.paySource">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateRegisterView"
            commandId="net.deuce.moman.command.navigate.register">
      </handler>
      <handler
            class="net.deuce.moman.command.navigate.ActivateSavingsGoalsView"
            commandId="net.deuce.moman.command.navigate.savingsGoals">
      </handler>
      <handler
            class="net.deuce.moman.envelope.command.Transfer"
            commandId="net.deuce.moman.envelope.command.transfer">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.deuce.moman.context.main"
            name="Main Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="moman.application"
            name="DeployTest">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="DeployTest">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.deuce.moman.preference.GeneralPage"
            id="net.deuce.moman.preference.general"
            name="General">
      </page>
      <page
            class="net.deuce.moman.preference.AccountPage"
            id="net.deuce.moman.preference.general"
            name="Account">
      </page>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.devicerenderers">
      <deviceRenderer
            device="org.eclipse.birt.chart.device.swt.SwtRendererImpl"
            name="moman.deviceRenderer1">
      </deviceRenderer>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.modelrenderers">
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Bar"
            series="org.eclipse.birt.chart.model.type.impl.BarSeriesImpl"></modelRenderer>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.modelrenderers">
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Pie"
            series="org.eclipse.birt.chart.model.type.impl.PieSeriesImpl">
      </modelRenderer>
   </extension>
   
   
</plugin>
