<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.deuce.moman.droid">
  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name=".Moman" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".Accounts" android:label="@string/accounts">
    </activity>
    <activity android:name=".Transactions" android:label="@string/transactions">
    </activity>
    <activity android:name=".Server" android:label="@string/server">
    </activity>
    <activity android:name=".Debug" android:label="@string/debug">
    </activity>
    <activity android:name=".EnvelopeEdit" android:label="@string/envelopeEdit">
    </activity>
    <activity android:name=".EnvelopeDelete" android:label="@string/envelopeDelete">
    </activity>
    <activity android:name=".EnvelopeSelect" android:label="@string/envelopeSelect">
    </activity>
    <activity android:name=".EnvelopeTransfer" android:label="@string/envelopeTransfer">
    </activity>
    <activity android:name=".ImportTransactions" android:label="@string/importTransactions">
    </activity>
    <activity android:name=".AccountSelect" android:label="@string/accountSelect">
    </activity>
  </application>

  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
