<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="moman.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.deuce.moman.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Moman Perspective"
            class="net.deuce.moman.rcp.PerspectiveFactory"
            id="moman.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
               id="moman.category"
               name="Moman">
         </category>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.rcp.account.AccountView"
               id="net.deuce.moman.rcp.account.AccountView"
               name="Accounts"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.rcp.envelope.EnvelopeView"
               id="net.deuce.moman.rcp.envelope.EnvelopeView"
               name="Envelopes"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.rcp.envelope.BillView"
               id="net.deuce.moman.rcp.envelope.BillView"
               name="Bills"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.rcp.transaction.RegisterView"
               id="net.deuce.moman.rcp.transaction.RegisterView"
               name="Register"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.rcp.transaction.TransactionImportView"
               id="net.deuce.moman.rcp.transaction.TransactionImportView"
               name="Import"
               restorable="true">
         </view>
         <view
               allowMultiple="false"
               category="moman.category"
               class="net.deuce.moman.rcp.transaction.TransactionRuleView"
               id="net.deuce.moman.rcp.transaction.TransactionRuleView"
               name="Import Rules"
               restorable="true">
         </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="net.deuce.moman.menu.File"
               label="File"
               mnemonic="F">
            <command
                  commandId="net.deuce.moman.command.file.new"
                  mnemonic="N"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.file.open"
                  mnemonic="O"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.file.save"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.file.saveAs"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.deuce.moman.menu.Account"
               label="Account"
               mnemonic="A">
            <command
                  commandId="net.deuce.moman.command.account.new"
                  mnemonic="N"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.account.edit"
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.account.delete"
                  mnemonic="D"
                  style="push">
            </command>
            <separator
                  name="net.deuce.moman.menu.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="net.deuce.moman.command.account.import"
                  mnemonic="I"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.account.fullImport"
                  mnemonic="F"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.deuce.moman.menu.Envelope"
               label="Envelope"
               mnemonic="E">
            <command
                  commandId="net.deuce.moman.command.envelope.new"
                  mnemonic="N"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.envelope.edit"
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.envelope.delete"
                  mnemonic="D"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.deuce.moman.menu.Bill"
               label="Bill"
               mnemonic="E">
            <command
                  commandId="net.deuce.moman.command.bill.new"
                  mnemonic="N"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.bill.delete"
                  mnemonic="D"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.deuce.moman.menu.Transaction"
               label="Transaction"
               mnemonic="T">
            <command
                  commandId="net.deuce.moman.command.transaction.new"
                  mnemonic="N"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.transaction.edit"
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="net.deuce.moman.command.transaction.delete"
                  mnemonic="D"
                  style="push">
            </command>
            <separator
                  name="net.deuce.moman.menu.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="net.deuce.moman.command.transaction.newRule"
                  mnemonic="R"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.deuce.moman.category.file"
            name="File">
      </category>
      <command
            category="net.deuce.moman.category.file"
            id="net.deuce.moman.command.file.new"
            name="New File">
      </command>
      <command
            category="net.deuce.moman.category.file"
            id="net.deuce.moman.command.file.open"
            name="Open File">
      </command>
      <command
            category="net.deuce.moman.category.file"
            id="net.deuce.moman.command.file.save"
            name="Save File">
      </command>
      <command
            category="net.deuce.moman.category.file"
            id="net.deuce.moman.command.file.saveAs"
            name="Save File As">
      </command>
      <command
            id="net.deuce.moman.command.account.new"
            name="New Account">
      </command>
      <command
            id="net.deuce.moman.command.account.edit"
            name="Edit Account">
      </command>
      <command
            id="net.deuce.moman.command.account.delete"
            name="Delete Account">
      </command>
      <command
            id="net.deuce.moman.command.account.import"
            name="Download Transactions">
      </command>
      <command
            id="net.deuce.moman.command.account.fullImport"
            name="Download Full Transactions">
      </command>
      <command
            id="net.deuce.moman.command.account.importError"
            name="Import Error">
      </command>
      <command
            id="net.deuce.moman.command.envelope.new"
            name="New Envelope">
      </command>
      <command
            id="net.deuce.moman.command.bill.new"
            name="New Bill">
      </command>
      <command
            id="net.deuce.moman.command.envelope.edit"
            name="Edit Envelope">
      </command>
      <command
            id="net.deuce.moman.command.envelope.delete"
            name="Delete Envelope">
      </command>
      <command
            id="net.deuce.moman.command.bill.delete"
            name="Delete Bill">
      </command>
      <command
            id="net.deuce.moman.command.transaction.new"
            name="New Transaction">
      </command>
      <command
            id="net.deuce.moman.command.transaction.edit"
            name="Edit Transaction">
      </command>
      <command
            id="net.deuce.moman.command.transaction.delete"
            name="Delete Transaction">
      </command>
      <command
            id="net.deuce.moman.command.transaction.newRule"
            name="New Transaction Rule">
      </command>
      <command
            id="net.deuce.moman.command.import.edit"
            name="Edit Imported Transaction">
      </command>
      <command
            id="net.deuce.moman.command.import.delete"
            name="Delete Imported Transaction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="net.deuce.moman.common.scheme"
            name="Moman Key Scheme">
      </scheme>
      <key
            commandId="net.deuce.moman.command.file.new"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="COMMAND+N">
      </key>
      <key
            commandId="net.deuce.moman.command.file.open"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="COMMAND+O">
      </key>
      <key
            commandId="net.deuce.moman.command.file.save"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="COMMAND+S">
      </key>
      <key
            commandId="net.deuce.moman.command.file.saveAs"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="SHIFT+COMMAND+N">
      </key>
      <key
            commandId="net.deuce.moman.command.account.new"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="CTRL+A">
      </key>
      <key
            commandId="net.deuce.moman.command.account.edit"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="ALT+COMMAND+A">
      </key>
      <key
            commandId="net.deuce.moman.command.account.delete"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="SHIFT+CTRL+A">
      </key>
      <key
            commandId="net.deuce.moman.command.account.import"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="COMMAND+D">
      </key>
      <key
            commandId="net.deuce.moman.command.account.fullImport"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="SHIFT+COMMAND+D">
      </key>
      <key
            commandId="net.deuce.moman.command.envelope.new"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="COMMAND+E">
      </key>
      <key
            commandId="net.deuce.moman.command.bill.new"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="COMMAND+B">
      </key>
      <key
            commandId="net.deuce.moman.command.bill.delete"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="SHIFT+COMMAND+B">
      </key>
      <key
            commandId="net.deuce.moman.command.envelope.edit"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="ALT+COMMAND+E">
      </key>
      <key
            commandId="net.deuce.moman.command.envelope.delete"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="SHIFT+COMMAND+E">
      </key>
      <key
            commandId="net.deuce.moman.command.transaction.new"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="COMMAND+T">
      </key>
      <key
            commandId="net.deuce.moman.command.transaction.edit"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="ALT+COMMAND+T">
      </key>
      <key
            commandId="net.deuce.moman.command.transaction.delete"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="SHIFT+COMMAND+T">
      </key>
      <key
            commandId="net.deuce.moman.command.transaction.newRule"
            contextId="net.deuce.moman.context.main"
            schemeId="net.deuce.moman.common.scheme"
            sequence="COMMAND+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.deuce.moman.command.file.New"
            commandId="net.deuce.moman.command.file.new">
      </handler>
      <handler
            class="net.deuce.moman.command.file.Save"
            commandId="net.deuce.moman.command.file.save">
      </handler>
      <handler
            class="net.deuce.moman.command.file.SaveAs"
            commandId="net.deuce.moman.command.file.saveAs">
      </handler>
      <handler
            class="net.deuce.moman.command.account.New"
            commandId="net.deuce.moman.command.account.new">
      </handler>
      <handler
            class="net.deuce.moman.command.account.Edit"
            commandId="net.deuce.moman.command.account.edit">
      </handler>
      <handler
            class="net.deuce.moman.command.account.Delete"
            commandId="net.deuce.moman.command.account.delete">
      </handler>
      <handler
            class="net.deuce.moman.command.account.Import"
            commandId="net.deuce.moman.command.account.import">
      </handler>
      <handler
            class="net.deuce.moman.command.account.FullImport"
            commandId="net.deuce.moman.command.account.fullImport">
      </handler>
      <handler
            class="net.deuce.moman.command.account.ImportError"
            commandId="net.deuce.moman.command.account.importError">
      </handler>
      <handler
            class="net.deuce.moman.command.envelope.New"
            commandId="net.deuce.moman.command.envelope.new">
      </handler>
      <handler
            class="net.deuce.moman.command.envelope.NewBill"
            commandId="net.deuce.moman.command.bill.new">
      </handler>
      <handler
            class="net.deuce.moman.command.envelope.Edit"
            commandId="net.deuce.moman.command.envelope.edit">
      </handler>
      <handler
            class="net.deuce.moman.command.envelope.Delete"
            commandId="net.deuce.moman.command.envelope.delete">
      </handler>
      <handler
            class="net.deuce.moman.command.envelope.DeleteBill"
            commandId="net.deuce.moman.command.bill.delete">
      </handler>
      <handler
            class="net.deuce.moman.command.transaction.New"
            commandId="net.deuce.moman.command.transaction.new">
      </handler>
      <handler
            class="net.deuce.moman.command.transaction.Edit"
            commandId="net.deuce.moman.command.transaction.edit">
      </handler>
      <handler
            class="net.deuce.moman.command.transaction.Delete"
            commandId="net.deuce.moman.command.transaction.delete">
      </handler>
      <handler
            class="net.deuce.moman.command.transaction.NewRule"
            commandId="net.deuce.moman.command.transaction.newRule">
      </handler>
      <handler
            class="net.deuce.moman.command.importer.Edit"
            commandId="net.deuce.moman.command.import.edit">
      </handler>
      <handler
            class="net.deuce.moman.command.importer.Delete"
            commandId="net.deuce.moman.command.import.delete">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.deuce.moman.context.main"
            name="Main Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="moman.application"
            name="DeployTest">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="DeployTest">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
   </extension>
   
   
</plugin>
